.container {
  display: flex;
}

.container header {
  width: 40%;
  margin: 1.875rem 0 1.875rem 9.188rem;
}

.container main {
  width: 50%;
}
/* 
@media screen and (max-width: 920px) {
  .container {
    flex-direction: column;
  }
} */
